{% load static from static %}



{% load static from static %}




<DOCTYPE html>
<html>



  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msvalidate.01" content="7FAB7FA6D1273C2AB09F34F85C3FC7C3" />

    <meta name="author" content="Lorenzo Siddi">
    {%block head_title%}
    <title>Tradology | Simple & Intuitive Investing Strategies</title>
    {%endblock%}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}"-->

      <link rel="stylesheet" type="text/css" href="{% static 'css/cookieconsent.min.css' %}" />
          <!-- datepicker style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/jquery-ui.min.css' %}">
  </head>


  <body>


	{% block navbar %}
	<script type="text/javascript" src="{% static 'js/bokeh-2.4.3/bokeh-2.4.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bokeh-2.4.3/bokeh-gl-2.4.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bokeh-2.4.3/bokeh-widgets-2.4.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bokeh-2.4.3/bokeh-tables-2.4.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bokeh-2.4.3/bokeh-mathjax-2.4.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bokeh-2.4.3/bokeh-api-2.4.3.min.js' %}"></script>
        

	{% endblock %}
    

    {%block content%}
    <div class="container">
        <h1>Base</h1>
    </div>

    {%endblock%}



  </body>


</html>
</DOCTYPE>


